<div id="notFoundDiv">
    <form asp-action="Index" asp-controller="Shop" method="get">
        <span>There is no product in your cart</span>
        <button id="start-shoping-btn" type="submit" class="site-btn">Start Shoping</button>
    </form>
</div>