@model CategoryAddViewModel

@{
    ViewData["Title"] = "Update Category Page";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">Update Category</div>
        <hr>
        <form asp-area="Admin" asp-action="Update" asp-controller="Categories" asp-route-id="@ViewBag.CategoryId" method="post">
            <div class="form-group">
                <label for="input-1">Name</label>
                <input asp-for=Name type="text" class="form-control" id="input-1" placeholder="Enter Category Name">
                <span asp-validation-for="Name" style="color: red"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-light px-5">Update</button>
            </div>
        </form>
    </div>
</div>